<h1>Edit Figure!</h1>

<form action="/figures/<%= @figure.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Name</label>
  <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name">

  <br></br>

  <label>Title(s)</label>

  <br></br>

  <% Title.all.each do |title| %>
    <input type="checkbox"  name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"
    <%= 'checked' if @figure.titles.include?(title) %>><%= title.name %></input><br>
  <% end %>

  <br></br>

  <label>Create New Title:</label>

  <br></br>

  <input type="text" name="title[name]" id="new_title">

  <br></br>

  <label>Landmark(s)</label>

  <br></br>

  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"
    <%= 'checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %></input><br>
  <% end %>

  <br></br>

  <label>Create New Landmark:</label>

  <br></br>

  <label for="landmark_name">Name:</label>
  <input type="text" name="landmark[name]" id="new_landmark">
  <label for="landmark_year">Year:</label>
  <input type="text" name="landmark[year]" id="landmark_year">

  <input type="submit" value="Edit Figure">
</form>
